#kingdom {
    width: 66%;
    background: linear-gradient(to bottom, #2c363e 0%, #495c65 55%, #5b7b84 100%);
    box-shadow: 0px 12px 24px 4px #27272b;
    border: 1.5px solid #92a1ad;
    color: #eace6a;
}
#kingdom-forge {
    width: 66%;
    background: linear-gradient(to bottom, #cc8e76 5%, #e6a167 50%, #de7079 100%);
    box-shadow: 0px 12px 24px 4px #2d1d25;
    border: 1px solid #eca48e;
    color: #ffc6b3;
}
#kingdom-christmas {
    width: 512px;
    background: linear-gradient(to bottom, #2f210f 5%, #77350e 55%, #cc3319 100%);
    box-shadow: 0px 12px 24px 4px #191709;
    border: 1.5px solid #ad8948;
    color: #eace6a;
}